.pro-container {
    display: flex;
    padding-top: 20px;
    flex-wrap: wrap;
}

.section-p1 {
    padding: 40px 40px;
}

#product1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;

}

#product1 p {
    color: #606063;
}

#product1 h2,
p {
    text-align: center;
}