.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.page-link{
    padding: 8px 14px;
    margin:  5px -15px;
    background-color: rgb(78, 177, 144);
    border: none;
    border-radius: 4px;
    transition: 0.1s ease-in-out;
    font-size: medium;
}
.page-link:hover{
    cursor: pointer;
}
.page-link:hover:focus{
    background-color:rgb(103, 156, 139);
    
}
 .active{
      background-color:rgb(103, 156, 139);
 }