.Cart-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 79px;
}

thead tr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: aqua;
  padding: 10px;
}

.cart-container td img {
  width: 100px;
  height: 100px;
}

.cart-container {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr 3.5fr 1fr;
  place-items: center;
  gap: 80px;
  padding: 15px;
}


.emptyCart {
  display: grid;
  place-items: center;
}

.cart-container:nth-child(odd) {
    background-color: aquamarine;
  }
  
  /* Define styles for even rows */
  .cart-container:nth-child(even) {
    background-color: rgb(127, 189, 255);
  }
  
 
  

tfoot .subtotal {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  justify-items: center;
  background-color: rgb(138, 162, 235);
  padding: 10px;
}

.link {
  text-decoration: none;
  color: black;
  transition: 0.1s ease-in-out;
  font-weight: 500;
}
 .link:hover{
  color: rgba(0, 0, 0, 0.815);

 }


.removeButton{
  transition: 0.2s ease-in-out;
}

.removeButton:hover {
  transform: scale(1.08);
  cursor: pointer;
}
.cart-item-enter {
  opacity: 0;
  transform: translateY(-20px);
}

.cart-item-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.cart-item-exit {
  opacity: 1;
  transform: translateY(0);
}

.cart-item-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 300ms, transform 300ms;
}

/* ============================BreakDown======================== */

@media screen and (max-width: 778px) {
  thead tr,
  tbody tr,
  tfoot tr {
    font-size: 12px;
    gap: 0px;
  }
}


/* medium */
@media screen and (max-width: 578px) {
    .cart-container td img {
        width: 70px;
        height: 70px;
    }
    .cart-container {
                display: flex;
                flex-direction: row;
                width: 100%;
                gap: 0px;
                justify-content: space-between;
                padding: 5px 1px;
      
    }
    
}