#sm-banner {
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
    margin-bottom: 35px;
}

#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 30px;
    text-align: center;
    background-image: url("../productsImg/16.jpg");
    height: 35vh;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    /* margin: 20px; */
}

.banner-box h4 {
    color: whitesmoke;
    font-size: 15px;
    font-weight: 700;
}

.banner-box h2 {
    font-family: cursive;
    color: rgb(0, 0, 0);
}

#btn {
    width: 100px;
    padding: 5px;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
    outline: none;
    border: 1px solid cornflowerblue;
    font-weight: 700;
}

#btn:hover {
    background-color: #0881795d;
    cursor: pointer;
}

/*=========================BreakPoint===================== */

/* Medium screen */
@media screen and (max-width: 768px) {
    #sm-banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-items: center;
        gap: 10px;
    }

    #sm-banner .banner-box {
        border-radius: 5px;
        width: 300px;
        min-width: 272px;
    }
}

/* Small devices */
@media screen and (max-width: 576px) {}

/* Very small devices */
@media screen and (max-width: 250px) {}