#banner {
    margin-top: 20px;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 40vh;
}





#banner button {
    width: 200px;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    border: 1px solid black;
    background-color: #dee9df;
    cursor: pointer;
    outline: none;
    transition: 0.2s ease;
    border-radius: 10px;
}

#banner h4 {
    font-size: 20px;
    margin-top: 20px;
    color: white
}

#banner h2 span {
    font-weight: 400;
    font-size: 40px;
    color: wheat
}

#banner h2 {
    color: white
}

#banner button:hover {
    color: #088178;
    text-decoration: underline;
}

#sm-banner {
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
    margin-bottom: 35px;
}

#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 30px;
    text-align: center;
    background-image: url("../productsImg/16.jpg");
    min-width: 333px;
    height: 35vh;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    /* margin: 20px; */
}

.banner-box h4 {
    color: whitesmoke;
    font-size: 15px;
    font-weight: 700;
}

.banner-box h2 {
    font-family: cursive;
    color: rgb(0, 0, 0);
}

#btn {
    width: 100px;
    padding: 5px;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
    outline: none;
    border: 1px solid cornflowerblue;
    font-weight: 700;
}

#btn:hover {
    background-color: #0881795d;
    cursor: pointer;
}