.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20px 5px 20px 5px;
  gap: 20px;

  @media screen and (max-width: 578px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .left {
    .mainImg {
        display: flex;
        flex-direction: row;
       
        justify-content:space-evenly;
   @media screen and (max-width: 578px){
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   }
      img {
        width: 80%;
        height: 50%;

        @media screen and (max-width: 578px) {
            width: 100%;
        }
      }
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 15px;
    flex-wrap: wrap;

    .quantity {
      display: grid;
      grid-template-columns: 1fr 0.5fr 1fr;
      text-align: center;

      @media screen and (max-width: 578px) {
        width: 100%;
      }

      align-items: center;
      button {
        background-color: #d9d5d985;
        padding: 12px 25px;
        border: none;
        @media screen and (max-width: 578px) {
          height: 47px;
        }
      }
    }
    .add {
      width: 200px;
      padding: 10px 20px 10px 20px;
      // margin: 7px 0px 5px 0px;
      background-color: #2879fe;
      border: none;
      border-radius: 2px;
      transition: 0.2s ease-in-out;
      &:hover{
        background-color:#287afed3;
        cursor: pointer;
      }
      @media screen and (max-width: 578px) {
        position: fixed;
        width: 100%;
        bottom: 0px;
        left: 0px;
      }
    }
    .link {
      display: flex;
      flex-direction: row;
     width: 100%;
      gap: 20px;
      color: #2879fe;
      .item{
        transition: 0.2s ease-in-out;
        &:hover{
          cursor: pointer;
          color:#287afed3;
        }
      }
     
      @media screen and (max-width: 578px) {
        justify-content: space-evenly;
        width: 100%;
        align-items: center;
      }

      .item {
        display: flex;
        flex-direction: row;
        gap: 7px;
        @media screen and (max-width: 578px) {
          display: grid;
          grid-template-columns: 0.7 fr 0.7fr;
          place-items: center;
        }
      }
    }
    .info {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 5px;
      // margin:0px 0px 12px 0px;
      color: gray;
    }
    .infos {
      display: grid;
      gap: 5px;
      hr {
        border: 1px solid rgba(160, 160, 160, 0.575);
      }
    }
  }
}
