.fe-box {
    cursor: pointer;
    width: 150px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.1);
    border: 1px solid #cce7d0;
    margin: 15px 0px;
    border-radius: 8px;
    font-family: 'baloo';
}

.fe-box h6 {
    padding: 9px 8px 6px 8px;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}

.fe-box img {
    width: 100px;
    height: 80px;

}

.fe-box:hover {
    box-shadow: 10px 10px 54px rgb(0, 0, 0, 0.3);
}

#features {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/*=========================BreakPoint===================== */

/* Medium screen */
@media screen and (max-width: 768px) {
    .fe-box {
        width: 196px;
    }

    .fe-box img {
        width: 105px;
        height: 87px;
    }

    .fe-box h6 {
        font-size: 11px;
        padding: 12px 10px 12px 10px;

    }

    #features {
        margin: 38px 4px;
    }
}

/* Small devices */
@media screen and (max-width: 576px) {

    .fe-box {
        width: 150px;
    }

    fe-box img {
        width: 242px;
        height: 157px;
    }

    .fe-box h6 {
        font-size: 8px;
        padding: 5px 4px 5px 4px;
    }


}

/* Very small devices */
@media screen and (max-width: 378px) {
    .fe-box {
        width: 130px;
    }

    .fe-box img {
        width: 99px;
        height: 67px;
    }

    .fe-box h6 {
        font-size: 8px;
        padding: 5px 4px 5px 4px;
    }
}

/* Very small devices */
@media screen and (max-width: 250px) {
    fe-box img {
        width: 242px;
        height: 157px;
    }

    .fe-box h6 {
        font-size: 28px;
        padding: 10px 5px 8px 5px;
    }

    .fe-box {
        width: 400px;
    }
}