#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 80px;
  background-color: #06d1ff8c;
  box-shadow: 0 3px 5px rgb(43 113 160 / 76%);
  position: sticky;
  top: 0%;
  left: 0px;
  z-index: +1;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
}

li {
  list-style: none;
  padding: 0px 20px;
  position: relative;
}

li .link {
  font-family: "baloo";
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: black;
  transition: 0.3s ease;
}

.linkImg {
  position: relative;
}
#header img {
  position: absolute;
  width: 81px;
  height: 70px;
  font-weight: 800;
  top: 2px;
  left: 20px;
  filter: contrast(175%) brightness(3%);
  /* filter: drop-shadow(3px 3px red) sepia(100%) drop-shadow(-3px -3px blue); */
}

li .link:hover,
li .link.active {
  color: rgb(41 16 16 / 78%);
}

li .link.active::after,
li .link:hover::after {
  background-color: rgb(41 16 16 / 78%);
  content: "";
  width: 30%;
  height: 2px;
  position: absolute;
  bottom: -4px;
  left: 20px;
  text-decoration: underline;
}

.mobile {
  display: none;
}

#close {
  display: none;
}

#secondpara .fa {
  position: relative;
}

#secondpara span {
  position: absolute;
  top: -10px;
  right: 15px;
  transition: 0.1s ease-in-out;
  content: "";
  z-index: -1;
  color: rgb(160, 31, 31);
  font-weight: 800;
  background-color: antiquewhite;
  border-radius: 48%;
  width: 25px;
  text-align: center;
  font-style: bold;
}
.link3{
  position: relative;
}
.link4{
  position: absolute;
  top: 12px;
  right: 136px;
  transition: 0.1s ease-in-out;
  content: "";
  z-index: -1;
  color: rgb(160, 31, 31);
  font-weight: 800;
  background-color: antiquewhite;
  border-radius: 75%;
  width: 17px;
  text-align: center;
}

#secondpara span:hover {
  transform: scale(1.1);
}

/* dropdown */

.accountHandle {
  position: relative;
}
.accountHandle:hover .dropdown {
  transition: opacity 0.3s ease-in-out; /* Add a smooth transition for opacity */
  opacity: 1; 
  visibility: visible;
}
.dropdown {
 visibility: hidden;
  background-color: #000000da;
  height: 200px;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  position: absolute;
  gap: 10px;
  right: -72px;
  top: 26px;
  clip-path: polygon(0% 10%, 50% 0%, 100% 10%, 100% 100%, 0% 100%);
  opacity: 0;
  
}
.dropdown li {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6px 4px;
  align-items: center;
}



.profile {
  position: absolute;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  background-color: rgb(27, 26, 26);
  width: 200px;
  color: white;
  padding: 57px 19px;
  right: -27px;
  top: 28px;
  gap: 20px;
  transition: 0.3s ease-in-out;
  opacity: 0;
  clip-path: polygon(0% 10%, 50% 0%, 100% 10%, 100% 100%, 0% 100%);
}
.accountHandle:hover .profile{
  visibility: visible;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}
.link2{
  text-decoration: none;
color: white;
}

.i{
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: center;
  transition: 0.1s ease-in-out;
  color: white;
  text-decoration: none;

}
.i:hover{
  cursor: pointer;
color: rgb(199, 174, 174);
gap: 10px;
}
.account2{
  display: flex;
  flex-direction: row;
justify-content: center;
gap: 5px;
}


/*=========================BreakPoint===================== */

/* Medium screen */
@media screen and (max-width: 768px) {
  #navbar {
    display: flex;
    flex-direction: column;
    text-align: left;
    transition: 0.2s ease-in-out;
    position: fixed;
    top: 77px;
    width: 166px;
    background: antiquewhite;
    height: 393px;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    gap: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  li .link.active::after,
  li .link:hover::after {
    display: none;
  }
  #navbar #secondpara {
    display: none;
  }

  .mobile {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .mobile .link {
    font-size: 20px;
  }
  li:hover {
   
    width: 126px;
    text-align: center;
  }
  .profile {
    width: 156px;
    right: -4px;

    gap: 10px;
  }
  .profile .i {
    font-size: 12px;
  }
  .dropdown {
    right: 166px;
    top: -20px;
  }
  #header{
    padding: 23px 80px;
  }
}

/* Small devices */
@media screen and (max-width: 576px) {
}

/* Very small devices */
@media screen and (max-width: 378px) {

  .dropdown {
    right: -1px;
    top: 23px;
    width: 168px;
  }
}
