#bottom  img {
    width: 50px;
    height: 50px;
    margin-left:15px;
}
#bottom{
    display: flex;
    flex-direction: column;
    
    background-color: antiquewhite;
}


.col-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 8px 7px 5px 7px;
    gap: 1rem;
    justify-content: space-around;
}

#bottom .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    margin: 0px 20px;
    font-size: 13px;
    justify-content: center;
}

#bottom .col h4 {
    margin-top: 20px;
    margin-bottom: 20px;
}

#bottom .col a {
    text-decoration: none;
    color: black;
    margin: 3px;
}

#bottom .col a:hover {
    text-decoration: underline;
    color: #088178;
}

#bottom .col .icon {
    margin-top: 8px;
}

#bottom .col .icon i {
    margin: 0px 0.5px;
    font-size: 20px;

}

#bottom .col .row img {
    width: 122px;
    height: 60px;
}

.copywrite {
    text-align: center;
    background-color: black;
    width: 100%;
    color: white;
}


/*=========================BreakPoint===================== */

/* Medium screen */
@media screen and (max-width: 1000px) {

     .col {

        font-size: 11px;
    }

     .col .row img {
        width: 83px;
        height: 55px;
    }
}

@media screen and (max-width: 768px) {
    #bottom .col .icon {
        margin-top: 5px;
        margin-bottom: 17px;
    }
}

/* Small devices */
@media screen and (max-width: 675px) {
    .col-container{
       
        justify-content: space-between;
    }
    #bottom .col .icon {
        margin-top: 8px;
    }
}

/* Very small devices */
@media screen and (max-width: 378px) {
    .col{
        font-size: 10px;
    }
    .col-container {
        padding: 8px 7px 5px 7px;
        gap: 1rem;
        justify-content: flex-start;
    }

    .copywrite {

        font-size: 11px;
        font-family: monospace;
    }
}