.signin {
  display: grid;
  place-items: center;
  background-color: #333131;
  // z-index: -6;

  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 700px;
    height: 400px;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    background-color: #1a1a1a;
    color: #d8cece;
    border: 1px solid #333;
    justify-content: center;

    .flex {
      display: flex;
      flex-direction: row;
      gap: 12px;

      label {
        display: flex;
        flex-direction: column;
        gap: 4px;
        input {
          border-radius: 4px;
          width: 80%;
        }
      }
    }
    label {
      display: flex;
      flex-direction: column;
      gap: 7px;

      .input {
        border-radius: 4px;
        width: 186%;
      }
    }
    .submit {
      width:  376px;
      border-radius: 4px;
      background-color: #403ddf;
      font-weight: 700;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      transition: 0.2s ease-in-out;
      border: none;
      margin: 15px 0px 0px 0px;

      &:focus {
        background-color: #3b39a3;
        // color: white;
        transform: scale(1.001);
      }
    }
    .signin {
      width: 100%;
      background-color: rgba(102, 51, 153, 0);

      .link1 {
        color: whitesmoke;
        text-decoration: none;
      }
    }
  }
}
