@import "tailwindcss/base";
@import "tailwindcss/utilities";
@import "tailwindcss/components";



@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@layer base {
  :root {
    --primary-color: #2879fe;
    --primary-light: #00a3d9;
    --primary-dark: #0e76a8;

    --secondary-color: #d90081;
    --secondary-light: #ec008d;
    --secondary-dark: #ec008e;

    --light-foreground: #fbfbfb;
    --light-background: #f2f2f2;
    --light-border:  #e6e6e6;

    --dark-foreground: #1a1a1a;
    --dark-background:  #0d0d0d;
    --dark-border:  #595959;

    --light-text: #fefefe;
    --light-secondary-text: #d8d6dc;
    --dark-text: #3e3e3e;
    --dark-secondary-text: #8a8495;
  }

  ::-webkit-scrollbar {
width: 0px;
  }

  body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
    overflow-x: hidden;
    background: var(--light-background);
    scroll-behavior: smooth;
  }

  .fade-in img {
    animation: fadeIn 0.5s ease-in;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  #specials {
    scroll-behavior: smooth;
    
  }
}